<h1>Appointment Page</h1>

Date: <%= @appointment.datetime %><br>

Patient: <%= link_to @appointment.patient.name, patient_path(@appointment.patient) %><br>

Doctor: <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %><br>
